mosla.properties

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven
/target

# Eclipse
.settings/
.classpath
.project

# OS
Thumbs.db
.DS_Store

# Other
*.log
*.swp
*.bak
